@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background: #44a08d; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #093637,
    #44a08d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #093637,
    #44a08d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#card {
  background-color: ivory;
  margin-top: 100px;
  width: 300px;
  height: 450px;
  -webkit-box-shadow: 15px 17px 15px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 15px 17px 15px 5px rgba(0, 0, 0, 0.3);
}
.red {
  color: red;
}
.black {
  color: black;
}
